$bl-black-primary: mat-palette($mat-grey, 700, 300, 900);
$bl-black-accent: mat-palette($mat-blue-grey, 400);
$bl-black-warn: mat-palette($mat-red, 500);

$bl-black-theme: mat-dark-theme(
  $bl-black-primary,
  $bl-black-accent,
  $bl-black-warn
);
