$bl-light-primary: mat-palette($mat-grey, 200, 500, 300);
$bl-light-accent: mat-palette($mat-brown, 200);
$bl-light-warn: mat-palette($mat-deep-orange, 200);

$bl-light-theme: mat-light-theme(
  $bl-light-primary,
  $bl-light-accent,
  $bl-light-warn
);
