$bl-nature-primary: mat-palette($mat-brown, 700, 300, 900);
$bl-nature-accent: mat-palette($mat-deep-purple, 300);
$bl-nature-warn: mat-palette($mat-red, 600);

$bl-nature-theme: mat-light-theme(
  $bl-nature-primary,
  $bl-nature-accent,
  $bl-nature-warn
);
